.jumbotron.text-center
  %h4= "Welcome Admin!"
  %p
    We have  
    %strong #{ @user_count.count }
    registered users


.container.col-lg-6
  = form_with model: @timerecord, class: 'row', url: "/admin", method: "get" do |form|
    .col-sm-3 
      = form.label "Enter Username"
      = form.text_field :username , class: "form-control"
    .col-sm-3 
      = form.label "Select Type"
      = form.select :time_type, ['---', 'bug', 'issue', 'feature', 'done'], {}, { :class =>'form-select' }
    .col-sm-3
      = form.label "Start Date"
      = form.date_field :start_date, class: 'form-control', onChange: 'disableGroupBy(this)'
    .col-sm-3 
      = form.label "End Date"
      = form.date_field :end_date, class: 'form-control'
    .col-sm-3
      = form.label "Group By"
      = form.select :group_by, ['---', 'weekly', 'monthly'], {}, { :class =>'form-select' , :onChange => 'disableDatePickers(this)' }
    .col-12.mt-2
      = form.submit "Search", class: "btn btn-info"
  
  .container
    .row
      .col-auto
        %h4= "All Time Records"
  %hr
  %table.table
    %thead
      %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Start Date
      %th{:scope => "col"} Time Comment
      %th{:scope => "col"} Time Type
      %th{:scope => "col"} Actions
    %tbody
      - @all_users.each do |item|
        %tr
        %td= item.user.username
        %td= item.start_date.strftime('%Y-%m-%d %H:%M:%S')
        %td= item.comment
        %td= item.time_type
        %td= link_to "Details", {:controller => "home", :action => "show", :id => item.id}, {:target => "_blank"}

 
  %nav{"aria-label" => "Page navigation example"} 
    %ul.pagination
      #{ will_paginate @all_users, list_classes: %w(pagination justify-content-end) }

  = button_to "Logout", { action: "destroy", controller: "sessions"}, { class: 'btn btn-danger' }

:javascript
  function disableGroupBy(e){
   document.getElementById('group_by').setAttribute("disabled", "disabled");
  }

  function disableDatePickers(e){
    document.getElementById('start_date').setAttribute("disabled", "disabled");
    document.getElementById('end_date').setAttribute("disabled", "disabled");
  }