
%link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" , :rel => "stylesheet" } 
%div.jumbotron.text-center
  %h1
    Hello,
    %strong #{ @user.username } 
 
  %p
    Today is 
    %strong #{Time.now.strftime("%A")} 

 
%div.container
  = form_with model: @timerecord, url: home_path do |form|
    %div.row
      %h3= "Enter Your Time Record"
    %form
      %div.form-gruop.row
        %label.col-sm-1.col-form-label 
          =form.label "Start Time"
        %div.col-sm-10
          =form.date_field :start_date, required: true
      
      %div.form-gruop.row
        %label.col-sm-1.col-form-label 
          =form.label "End Time"
        %div.col-sm-10
          =form.date_field :end_date
      
      %div.form-gruop.row
        %label.col-sm-1.col-form-label 
          =form.label "Comment"
        %div.col-sm-10
          =form.text_field :comment

      %div.form-gruop.row
        %label.col-sm-1.col-form-label 
          =form.label "Type"
        %div.col-sm-10
          =form.select :time_type, ['bug', 'issue', 'feature', 'done']
      
      
      =form.submit "Save"

  %br
  %br

  %h4= "Your Time Records"  

  - if @user_time_records.length >= 1
    %table.table
      %tbody
        %tr
          %td Start Date:
          %td End Date:
          %td Comment:
          %td Type
        - @user_time_records.each do |object|
          %tr
            %td= object.start_date
            %td= object.end_date
            %td= object.comment
            %td= object.time_type
  - else
    %p="You do not have any time record."
  %br 

  = button_to "Logout", action: "destroy", controller: "sessions"

  :javascript
    console.log('This is inline <script>');