
%p 
  Hello,
  %strong #{ @user.username } 
  Today is  
  %strong #{Time.now.strftime("%A")} 


.row 
  %h3= "Enter Time"
  
  %p= "Start Time"
  %input{"type": "date"}
  
  %p= "End Time"
  %input{"type": "date"}
  
  %p= "Comment"
  %input{"type": "text"}
  
  = button_to "Submit"

%br
%br

= button_to "Logout", action: "destroy", controller: "sessions"

:javascript
  console.log('This is inline <script>');